* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.headerContainer {
  max-width: 900px;
  margin: 40px auto;
}

.container {
  display: flex;
  max-width: 900px;
  margin: auto;
}

.leftSide {
  flex: 1;
  margin-right: 40px;
}

.title {
  margin: 0;
  font-size: 40px;
  color: #3A4B5C;
}

.description {
  font-size: 16px;
  margin-bottom: 40px;
  color: #6A7D88;
}

.leftSide input {
  width: 100%;

  border: 0;
  border-bottom: 2px solid rgba(150, 163, 171, .5);

  padding: 10px 2px;
  margin-bottom: 20px;

  font-size: 14px;

  outline: none;
}

.leftSide input:disabled {
  opacity: .5;
}

.buttonCalculate {
  background-color: #227C9D;
  color: #FFF;

  font-size: 15px;

  border: 0;
  border-radius: 10px;
  padding: 15px 0;
  margin-top: 40px;

  width: 100%;

  cursor: pointer;
  transition: all ease .3s;
}

.buttonCalculate:hover {
  opacity: .9;
}

.buttonCalculate:disabled {
  opacity: .5;
  cursor: no-drop;
}

.rightSide {
  display: flex;
  flex: 1;
  margin-left: 40px;
}

.containerGrid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.showInfo {
  flex: 1;
  display: flex;
}

.arrowIcon {
  position: absolute;

  background-color: #227C9D;
  
  width: 70px;
  height: 70px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  margin-left: -35px;
  margin-top: 145px;

  transition: all ease .3s;
}

.arrowIcon:hover {
  opacity: .8;
}
